
@{
    ViewBag.Title = "Admin";
}

<h2>Admin</h2>
<div class="col-lg-12">
    <div class="row">
        <h3>View Dairies @Html.ActionLink(">>", "Index", "Dairy", null, new { @class = "btn btn-primary btn-large" })</h3>
    </div>
    <br />
    <div class="row">
        <h3>View Feedlots @Html.ActionLink(">>", "Index", "Feedlot", null, new { @class = "btn btn-primary btn-large" })</h3>
    </div>
    <br />
    <div class="row">
        <h3>View Employees @Html.ActionLink(">>", "Index", "Employee", null, new { @class = "btn btn-primary btn-large" })</h3>
    </div>
    <br />
    <div class="row">
        <h3>View Roles @Html.ActionLink(">>", "Index", "Roles", null, new { @class = "btn btn-primary btn-large" })</h3>
    </div>
    <br />
    <div class="row">
        <h3>View Cattle @Html.ActionLink(">>", "Index", "Cattle", null, new { @class = "btn btn-primary btn-large" })</h3>
    </div>
    <br />
    <div class="row">
        <h3>View Deceased Cattle @Html.ActionLink(">>", "Index", "Deceased", null, new { @class = "btn btn-primary btn-large" })</h3>
    </div>
    <br />
    <div class="row">
        <h3>View Cattle Types @Html.ActionLink(">>", "Index", "CattleType", null, new { @class = "btn btn-primary btn-large" })</h3>
    </div>
</div>

