@model GVB.Models.Cattle

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Cattle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CattleType.CattleTypeDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CattleType.CattleTypeDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dairy.dName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dairy.dName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Feedlot.fName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Feedlot.fName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cattleNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cattleNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateRecieved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateRecieved)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShippedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShippedDate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
