@model GVB.Models.Cattle

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cattle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CattleType.CattleTypeDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CattleType.CattleTypeDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dairy.dName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dairy.dName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Feedlot.fName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Feedlot.fName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cattleNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cattleNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateRecieved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateRecieved)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShippedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShippedDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.cattleID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
